.landPageContent{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
    scroll-behavior: smooth;
    position: absolute;
}

.borrarFundo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.3);
    overflow-y: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
}
.landPageContent .headerLandPage{
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-direction: column;
    transition: all 0.3s;
    z-index: 5;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.1);
}

.headerLandPage .superior{
    padding: 0 30px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.landPageContent .headerLandPage .superior h1{
    font-size: 40px;
    font-family: "David libre";
    color: rgb(26, 67, 170);
    cursor: pointer;
}

.landPageContent .headerLandPage .superior .mudarLinguagem{
    margin: 0 20px 0 auto;
}

.mudarLinguagem{
    width: 100px;
    height: 30px;
    display: flex;
    padding: 5px;
    align-items:center;
    justify-content: end;
    background-color: rgb(220,220,220);
    position: relative;
    font-weight: bolder;
}

.mudarLinguagem button{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -20px;
    top: 0;
    position: absolute;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

.mudarLinguagem img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.mudarLinguagem .ingles{
    animation:forwards 0.5s ingles;
}

.mudarLinguagem .portugues{
    animation:forwards 0.5s portugues;
}

@keyframes ingles{
    from{
        left: -20px;
        
    }
    to{
        left:90px;
    }
}

@keyframes portugues{
    from{
        left: 90px;
        
    }
    to{
        left:-20px;
    }
}


.mudarLinguagem .inglesE{
    width: 100%;
    justify-content: center;
    display: flex;
}

.headerLandPage .navBarLandPage{
    width: 100%;
    height: 20px;
    font-size: clamp(1rem, 2vw - 5px, 2rem);
}

.navBarLandPage nav ul{
    list-style: none;
    display: flex;
    width: 100%;
}

.navBarLandPage nav ul li{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navBarLandPage nav ul li a{
    text-decoration: none;
    text-transform:capitalize;
    position: relative;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, .8vw + .8vh, 2.5rem);
    cursor: pointer;
}

.navBarLandPage nav ul li a:before{
    content: "";
    width: 0;
    height:5px;
    background-color: rgb(53, 78, 139);
    position: absolute;
    top:100%;
    left: 0;
    transition: 0.5s;
}

.navBarLandPage nav ul li:hover a:before{
    width: 100%;
}

#bemVindo, #porqueAequitas, #feedBack, #planos, #futuro, #contato{
    width: 100%;
    height: 100%;
}
#bemVindo{
    display: flex;
    padding: 0 0 0 5%;
}

.textoBemVindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    z-index: 1;
    margin: auto 0;

}

#bemVindo .textoBemVindo h2{
    font-size: clamp(2rem, 6vh + 3px, 5rem);
    color: rgb(26, 67, 170);
    align-self: flex-start;
}

#bemVindo .textoBemVindo h3{
    font-size: clamp(3rem, 10vh + 3px, 7rem);
    margin: 1.5vh 0;
    color: rgb(26, 67, 170);
}

#bemVindo .textoBemVindo p{
    font-size: clamp(1rem, 3.3vh + 3px, 5rem);
    text-align: justify;
}

#bemVindo .textoBemVindo .login{
    width: calc(15vw + 5px);
    height: calc(5vh + 10px);
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    margin:2vh 0 0 0;
    background-color: rgb(26, 67, 170);
    color: rgb(255, 255, 255);
}


#bemVindo  img{
    width: 50%;
    height: 70%;
}

#bemVindo  img:last-child{
    position: absolute;
    right: 0;
    bottom:-5%;
}

#bemVindo img:nth-child(2){
    position: absolute;
    right: 0;
    width: 70%;
    height: 70%;
    bottom: 0
}

#porqueAequitas{
    display: flex;
    flex-direction: column;
}

.containerPorqueAequitas{
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.containerPorqueAequitas h2{
    font-size: clamp(1.7rem, 10vw - 7vh, 3rem);
}

.containerPorqueAequitas p{
    font-size:clamp(1.3rem, 5vw - 7vh, 3rem);
}

.porqueCardContainer{
    width: 100%;
    padding: 0 20px;
    display: flex;
    margin: 10vh 0 0;
}



.cardPorque{
    min-width: 100px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: calc(5vh - 10px);
    margin: 0 auto;
}

.cardPorque img{
    width: 25%;
}

.cardPorque p{
    font-size: 26px;
    font-weight: bold;
}

.barra{
    border: 4px solid rgb(26, 67, 170);
    width: 30%;
}

.escrita p{
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
}

.containerFeedBack{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    align-items: center;
    height: 100%;
}

.escritaFeedBack{
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0 0 0;
}
.escritaFeedBack h2{
    font-size: clamp(1.7rem, 10vw - 7vh, 3rem);
}

.escritaFeedBack p{
    font-size:clamp(1.3rem, 5vw - 7vh, 3rem);
}

.containerCardFeedBack{
    width: 100%;
    display: flex;
    margin: 5vh 0 auto 0;
    z-index: 1;
}

.containerCardFeedBack .cardFeedBack{
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 67, 170);
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
    height: calc(50vh - 20px);
    text-align: justify;
    gap: 10px;
}

.cardFeedBack img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.cardFeedBack h3{
    font-size: clamp(1.5rem, 1vw + 1vh, 3rem);
    color: rgb(255, 255, 255);
}

.cardFeedBack p{
    font-size: clamp(.7rem, 1vw + .5vh, 3rem);
    color: rgb(255, 255, 255);
}

.containerFeedBack img:nth-child(3){
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#planos{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8% 10% 0;
}
#planos h2{
    font-size: clamp(1.7rem, 10vw - 7vh, 3rem);
}

#planos p:nth-child(2){
    font-size:clamp(1.2rem, 8vw - 14.5vh, 3rem);
}


.planos{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: end;
}

.planos h4{
    color: rgb(44, 122, 237);
    font-size: clamp(1rem, 3vw - 3vh, 2.3rem)
}

.planos h4 span{
    color: rgb(61, 63, 63);
    font-size: clamp(.5rem, 2vw - 2.3vh, 1rem);
}

.planos h3{
    font-size: clamp(1rem, 3vw - 2vh, 2.3rem)
}

.planosCard{
    max-width: 350px;
    padding: 15px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    gap: 7%;
    border-radius: 20px;
    height:80%;
    border: 1px solid rgb(61, 63, 63);
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.08);
}

.planosCard p{
    font-size:clamp(.7rem, 1.3vh + .5vw, 2rem);
    width: 100%;
}
.escolhido{
    background-color: rgb(7, 22, 63);
    color:rgb(255, 255, 255);
    height: 90%;
}
.escolhido h4{
    color:rgb(255, 255, 255)
}
.escolhido h4 span{
    color:rgb(255, 255, 255)
}
.beneficios{
    display: flex;
    width:100%;
    align-items: center;
}
.beneficios .circuloCheckup{
    background: linear-gradient(90deg, rgba(33,118,193,1) 24%, rgba(26,160,184,1) 54%, rgba(39,190,154,1) 90%);
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:clamp(.7rem, 1.3vh + .5vw, 2rem);
    color: rgb(255, 255, 255);
    font-weight: 700;
    position: absolute;
}

.escolhido .beneficios  .circuloCheckup{
    background: aliceblue;
    color: rgb(44, 122, 237);
}

.invalido{
    background: rgb(146, 35, 35) !important;
    color: rgb(255, 255, 255) !important;
}

.beneficioDetalhe p{
    text-align:left;
    font-size:clamp(.7rem, 1.3vh + .5vw, 2rem);
    width: 100%;
    padding: 0 0 0 calc(2vw + 2vh);
}


#planos button{
    width: 30%;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 22, 63);
    border-radius: 50px;
    height: 10%;
    margin: 2vh 0 0 0;
    cursor: pointer;
    box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.07)
}

#futuro{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.futuroOpcao{
    width: 100%;
    gap:20px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.futuroOpcao input[type="radio"]{
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}
.futuroOpcao div{
    display: flex;
}
.futuroOpcao span{
    width: 30px;
    height: 30px;
    background-color: rgb(7, 22, 63);
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

.futuroOpcao span::before {
    content: "";
}
.futuroOpcao input[type="radio"]:checked + span{
    background-color: rgb(26,67, 170);
}


.containerFuturoUm,
.containerFuturoDois,
.containerFuturoTres,
.containerFuturoQuatro{
    width: 100%;
    justify-content: center;
    display:flex;
    height: 100%;
    padding: 7% 0 0 0;
    flex-direction: column;
    position: absolute;
}

.conteudoFuturoUm{
    width: 70%;
    background-color: rgb(26, 67, 170);
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 300px 300px 0;
    color: rgb(255, 255, 255);
    padding: 4% 8% 0 2%;
}
.conteudoFuturoUm h2{
    font-size: clamp(1.7rem, 2vw + 2vh, 3rem);
}


.containerFuturoUm img{
    width: 50%;
    height: 80%;
    right: 0;
    bottom: 0;
    position: absolute;
}

.containerFuturoDois{
    justify-items: end;
}
.conteudoFuturoDois{
    width: 70%;
    background-color: rgb(7, 22, 63);
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 300px 0 0 300px;
    align-self: flex-end;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 4% 2% 0 8%;
}
.conteudoFuturoDois h2{
    font-size: clamp(1.7rem, 2vw + 2vh, 3rem);
    display: flex;
}

.conteudoFuturoDois p{
    font-size: clamp(1rem, 1vw + 1.5vh, 3rem);
    margin: 2.3vh 0 0 0;
    width: 70%;
}

.containerFuturoDois img{
    width: 50%;
    height: 80%;
    right: 0;
    bottom: 0;
    position: absolute;
}

.containerFuturoDois img:nth-child(3){
    top: 7%;
    left: 0;
}

.containerFuturoDois img:nth-child(2){
    width: 30%;
    height: 40%;
    right: 1%;
    z-index: 1;
    transform:scaleX(-1);
}

.containerFuturoDois img:nth-child(4){
    left: 0;
    z-index: 1;
}

.containerFuturoTres{
    padding: 7% 0 4%;
    align-items: end;
}

.conteudoFuturoTres{
    width: 90%;
    background-color: rgb(26, 67, 170);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px 100px 100px 300px;
    color: rgb(255, 255, 255);
    padding: 4% 2% 0 40%;
    margin: 0 auto;
}
.conteudoFuturoTres h2{
    font-size: clamp(1.7rem, 2vw + 2vh, 3rem);
}

.conteudoFuturoTres p{
    font-size: clamp(1rem, 1vw + 1.5vh, 3rem);
    margin: 2.3vh 0 0 0;
}

.containerFuturoTres img{
    width: 45%;
    height: 70%;
    left: 0;
    bottom: 10%;
    position: absolute;
}

.containerFuturoQuatro{
    justify-content: flex-start;
}

.conteudoFuturoQuatro{
   z-index: 2;
   display: flex;
   flex-direction: column;
   color: rgb(255, 255, 255);
   align-items: center;
   width: 100%;
   align-items: center;
   height: 100%;
   padding: 0 0 5% 3%;
   gap: 30px;
}
.conteudoFuturoQuatro h2{
    font-size: clamp(1.7rem, 2vw + 2vh, 3rem);
}

.conteudoFuturoQuatro p{
    font-size: clamp(1.7rem, 1.5vw + 1.5vh, 3rem);
    text-align: justify;
    width: 40%;
    
}

.conteudoFuturoQuatro ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 0 0 0 5%;
    margin: auto 0;
    font-size: clamp(1rem, .8vw + 1.2vh, 3rem);
}

.conteudoFuturoQuatro ul li{
}

.conteudoFuturoQuatro ul li span{
   font-weight: bold;
}
.containerFuturoQuatro img:nth-child(3){
    width: 35%;
    height: 85%;
    left: 0;
    bottom: 0;
    position: absolute;
}
.containerFuturoQuatro img:nth-child(4){
    width: 30%;
    height: 65%;
    right: 0;
    bottom: 0;
    position: absolute;
}
.containerFuturoQuatro img:nth-child(2){
    width: 100%;
    height: 90%;
    right: 0;
    bottom: 0;
    position: absolute;
}


.contatoContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.contatoContainer h2{
    font-size: clamp(1.7rem, 10vw - 7vh, 3rem);
    margin: auto 0 0 0;
}

.escritaContato form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:20px
}
.escritaContato{
    width: 40%;
    margin: auto 10% auto auto;
}

.escritaContato input{
    width: 100%;
    height: calc(5vw - 4vh);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(78, 78, 78);
}

/* ADD um estilo parecido com o de banco de talentos nos input */
/*     flex: 1; 
    background-color: #ffffff00;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    */
    

.escritaContato input:nth-child(3){
    height: calc(20vh - 2vw);
}

.escritaContato button{
    background-color: rgb(26, 67, 170);
    border: 2px solid rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    height: calc(10vh - 2vw);
    border-radius: 30px;
}

.contatoContainer img{
    position: absolute;
    bottom: 10%;
    left: 10%;
    height: 60%;
}

