.containerLoginCard{
    width: 100%;
    max-width: 500px;
    min-width: 480px;
    max-height: 600px;
    height: 100%;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding:20px 30px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 5px rgba(0,0,0, 0.2);
}

.cinza{
    margin: 10px 0;
    color: rgb(141, 138, 138);
}

.tm{
    font-size: 20px;
}

.logo{
    font-family: "david libre", serif;
    color:rgb(26, 67, 170);
    font-size: 40px;
}

.botao, #enviar{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    margin: 10px 0;
    background-color:rgb(235, 234, 234);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: medium;
}

.botao:hover{
    cursor: pointer;
    transform: scale(103%);
    transition: all 0.6s;
}

.botao:active{
    transition: all 0.1s;
    background-color:rgb(220, 220, 220);
}

.botao p{
    width: 100px;
    margin: 0 0 0 10px;
    text-align: start;
    color: rgb(26, 67, 170);
}

#cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.dados{
    width: 450px;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 0 5px;
    border: none;
    background-color: rgb(235, 234, 234) ;
}

.visibilidadeSenha{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(0,0,0, 0);
    bottom: 5.5vh;
    left: 43%;
}

.visibilidadeSenha:hover{
    cursor: pointer;
}

#enviar{
    background-color: rgb(26, 67, 170);
    color: rgb(240, 240, 240);
}

#enviar:hover{
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(101%);
}

#enviar:active{
    background-color: rgb(13, 52, 151);
}

.tm a{
    color: rgb(26, 67, 170);
    text-decoration: none;
}

.tm a:hover{
    text-decoration:underline;
}

.containerLoginCard span{
    font-size: small;
    color: rgb(196, 35, 35);
}

@media(max-width: 600px){
    .containerLoginCard{
        width: 100%;
        max-width:none;
        min-width:auto;
        border-radius: 0;
        box-shadow: none;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    .botao, #enviar{
        width: 90%;
        margin: 4px 0;
    }

    .dados{
        width: 90%;
    }

    .visibilidadeSenha{
        left: 40%;
        bottom: 4.5vh;
    }
}
