body {
    overflow-x: hidden;
}

.fundo{
 display: flex;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: center;
 transform: translateY(-30vh);
}



/* .perfilOracle{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transform: translate(-20vw, -35vh);
}

.perfilOracle, p{
    font-weight: bold;
}

.line{
    transform: translate(13vw, -35vh);
} */

.gambi{
    transform: translate(5vw, -30vh);
    width: 90vw;
}
