.containerCadastroEmpresa{
    background-color: rgb(240, 240, 240);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
}
.containerCadastroEmpresa a{
    text-decoration: none;
    color: rgb(118, 156, 255);
}

.containerCadastroEmpresa a:hover{
    text-decoration:underline;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.formularioCadastroEmpresa{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.formularioCadastroEmpresa form{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.formularioCadastroEmpresa form button:hover, .formularioCadastroEmpresa form input[type="checkbox"]{
    cursor: pointer;
}
.formularioCadastroEmpresa form input{
    width: 48.4%;
    height: calc(10vh - 20px);
    margin: 2vh 1.5vw 2vh 0;
    border-radius: 10px;
    padding: 0 0 0 5px;
    color: rgb(0, 0, 0);
}
.redesEmpresa{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 0 auto;
}
.redesEmpresa p{
    font-size: clamp(11px, 3vw - 7px, 20px );
    padding: 0 0 0 auto;
}
.redesEmpresa .complementoEmpresa{
    margin: 0 0 0 64%;
}

.itensEmpresa{
    display: flex;
    width: 70%;
    align-items:center;
    justify-content: center;
    gap: 30px;
    margin: 1.5vh 0 0 auto ;
}

.itensEmpresa button{
    width: 30%;
    display: flex;
    height: calc(6vh + 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
    border-radius: 10px;
    border: none;
}

.juncaoLabelCheckboxEmpresa{
    display: flex;
    align-items: center;
    width: 65%;
    height: calc(6vh + 5px);
    margin: 0 0 2vh auto;
}

.juncaoLabelCheckboxEmpresa input[type="checkbox"]{
    height: 20px;
    width: 25px;
    margin: 0 1vw 0 0;
}

.juncaoLabelCheckboxEmpresa label{
    font-size: clamp(10px, 1vw, 16px);
    text-align: justify;
}

.finalFormEmpresa{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
}
#cadastrarEmpresa{
    width: 50%;
    height: calc(7vh + 5px);
    border-radius: 20px;
    font-size: clamp(13px, 2vw - 5px, 20px);
    font-weight: bold;
    background-color: rgb(26, 67, 170);
    color: rgb(240, 240, 240);
}

.finalFormEmpresa label{
    margin: 2vh 0 0 0;
    font-size: clamp(10px, 1vw, 16px);;
}

#waveCadastroEmpresa, #personaCadastroEmpresa{
    position: absolute;
    bottom: 0;
    left: 0;
}

#waveCadastroEmpresa{
    width: 30%;
    height: 51%;
}

#personaCadastroEmpresa{
    width: 40%;
    height: 55%;
    left: .3%;
    bottom: 0%;
}


.direitos{
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, -25%);
    color: rgb(170, 170, 170);
    font-size: clamp(8px, 1vw + 5px, 13px);
}




@media(max-width: 600px){
    
    #waveCadastroEmpresa, #personaCadastroEmpresa{
        display: none;
    }

    .formularioCadastroEmpresa form{
        width: 100%;
    }

    .formularioCadastroEmpresa form input{
        width: 100%;
        height: calc(7vh - 20px);
        margin: 1vh 1vw 1vh 0;
    }

    .itensEmpresa{
        width: 100%;
    }
    .itensEmpresa button{
        width: 100%;
    }

    .finalFormEmpresa{
        width: 100%;
    }
    #cadastrarEmpresa{
        width: 70%;
        height: calc(7vh - 15px);
    }

    .juncaoLabelCheckboxEmpresa{
        width: 100%;
        height: calc(5vh + 5px);
    }

    .juncaoLabelCheckboxEmpresa input[type="checkbox"]{
        height: 15px;
        width: 15px;
        margin: 0 3vw 0 0;
    }
    .redesEmpresa .complementoEmpresa{
        margin: auto;
    }
}
