.headerPessoaContainer{
    display: flex;
    align-items: center;
    background-color: #07163F;
    color:rgb( 250, 250, 250);
    padding: 0 30px;
    width: 100%;
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: all 0.3s;
    z-index: 999;
}


.logoHeaderPessoa{
    font-size: 40px;
    font-family: "David libre";
}

.logoUm{
    display: inline;
}

.logoDois{
    display: none;
}

.escritaHeaderPessoa{
    width: 100%;
    display: flex;
    justify-content: end;
}

.escritaHeaderPessoa a{
    color: rgb(118, 156, 255);
}

.escritaHeaderPessoa a:hover{
    text-decoration: underline;
}

.conteudoPessoa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 15px 0 0;
}
.conteudoPessoa .nomeUsuario{
    font-size: 15px;
    margin: 0 15px;
}
.conteudoPessoa button{
    width: 35px;
    height: 35px;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudoPessoa img{
    height: 40px;
    width: 40px;
    border: 1px #000 solid;
    border-radius: 50%;
}
.menuHamburguer{
    height: 40px;
    width: 40px;
}

.menuHamburguer:hover{
    cursor: pointer;
}

.menuHamburguer span{
    width: 30px;
    height: 4px;
    display: block;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 2.3%;
    transition: .5s;
}

.menuHamburguer span:nth-child(1){
    top:40%
}

.menuHamburguer span:nth-child(3){
    top:60%
}


.ativo span:nth-child(1){
    top: 50%;
    right: 2.3%;
    transform:translate(-50%, -50%) rotate(45deg);
}

.ativo span:nth-child(3){
    top: 50%;
    right: 2.3%;
    transform:translate(-50%, -50%) rotate(-45deg);
}

.ativo span:nth-child(2){
    opacity: 0;
}

@media(max-width: 600px){
    .logoUm{
        display: none;
    }
    .logoDois{
        display: inline;
    }
}